{% extends 'core/extras.html' %}{% load static %}
{%block titulo%}AUTORES{%endblock%}
{%block paginas%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'autores' %}">AUTORES</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'chicagogaleria' %}">GALERIA EXTRANJERA</a>
</li>

{%endblock%}
{%block sesion%}
<div class="d-flex">
  <ul class="navbar-nav">
    <li class="nav-item text-right">
      <a class="nav-link" href="{% url 'login' %}">INICIAR SESION</a>
    </li>
  </ul>
</div>
</div>
{%endblock%}
{%block body%}


<h2 class="mb-2 mt-3" Style="text-align: center;"> </a>{{autor.nombrea}}</h2>
<div class="row">
  <div class="col-3">
    
  <img src="{{autor.imagen}}" alt="" width="100%">
  </div>
  <div class="col">
    <div class="spc2">
  <h2 class="m-1"><a>Biografía</a></h2>
  </div>
  <div class="biog">
    {{autor.descripcion}}
  </div>
  <br>
  <div>
    <h2 class="spc2">OBRAS</h2>
  </div>
  
  <div class="container">

    <!--para organizar cards  -->
    <div class="row">
      <div class="card-columns"></div>
      {% for obra in obras %}
      <!--x completar -->
      <div class="card" style="width: 18rem;">
        <img src="{{ obra.imagen }}" alt="img_obra">
        <div class="card-body">
          <h5 class="card-title">{{ obra.nombreo }}</h5>
          <p class="card-text"></p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#obra-{{ forloop.counter }}">
            Mostrar Obra
          </button>

        </div>
      </div>
      <div class="modal fade" id="obra-{{ forloop.counter }}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ obra.nombreo }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img src="{{obra.imagen }}" alt="" class="img-fluid">
              <ul>
                <li>
                  {{ obra.descripcion }}
                </li>
                <li>
                  ${{ obra.precio }}
                </li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
              <a href="{% url 'load'%}"><button type="button" class="btn btn-primary">Comprar</button></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>


  </a>
</div>
{%endblock%}