{% extends 'core/extras.html' %}{% load static %}
{%block titulo%}INICIO{%endblock%}
{%block paginas%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'autores' %}">AUTORES</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'chicagogaleria' %}">GALERIA EXTRANJERA</a>
</li>

{%endblock%}
{%block sesion%}
<div class="d-flex">
  <ul class="navbar-nav">
      <li class="nav-item text-right">
          <a class="nav-link" href="{% url 'login' %}">INICIAR SESION</a>
      </li>
  </ul>
</div>
</div>
{%endblock%}
{%block body%}
  <div class="bloque_fondo">
                <div class="container-fluid">
                  <div class="row"> 
                    <div class="col text-center"><h1>Destacados</h1></div> 
                    <div class="col-sm-12">  
                      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <a href="#" ><img src="{% static 'core/Imagenes/img_idx/i_5.jpg' %}" class="d-block mx-auto img-fluid" alt="..." width="45%" height="50%" style="border-radius: 5%;"></a>
                            </div>
                            <div class="carousel-item">
                              <a href="#" ><img src="{% static 'core/Imagenes/img_idx/i_2.jpg' %}" class="d-block mx-auto img-fluid " alt="..." width="60%" height="100%" style="border-radius: 5%;"></a>
                            </div>
                            <div class="carousel-item">
                              <a href="#" ><img src="{% static 'core/Imagenes/img_idx/i_3.jpg' %}" class="d-block mx-auto img-fluid" alt="..." width="60%" height="100%" style="border-radius: 5%;"></a>
                            </div>
                          </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                    </div>  
                  </div> 
                </div>
  </div> 
  <div class="container-fluid">  
    <h2 class="text-center mb-4">categorias</h2>
    <div class="autores mb-3">
{%for cate in categoria%}
          <div class="position-relative ">
              <a href="{% url 'categorias' cate.id_categoria %}">
                  <img  src="{{cate.imagen}}" alt="" width="100%"class="autores-img">
                  <div class="autor-nombre">{{cate.nombrec}}</div>
              </a>
          </div>
      
{%endfor%}  
</div>  
</div>          
{%endblock%}
  
