{% extends 'core/extras.html' %}{% load static %}
{%block titulo%}OBRAS{%endblock%}
{%block paginas%}
<li class="nav-item">
  <a class="nav-link" href="{% url 'autores' %}">AUTORES</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'chicagogaleria' %}">GALERIA EXTRANJERA</a>
</li>

{%endblock%}
{%block sesion%} 
<div class="d-flex"><ul class="navbar-nav"><li class="nav-item text-right">
    <a class="nav-link" href="{% url 'login' %}">INICIAR SESION</a>
        </li></ul></div>
  </div>
  {%endblock%}
{%block body%}
{{obra.nombreo}}
{%endblock%}